
/* 次問・前問ボタン関係 */
    #buttons {
    /* 画面の右下に固定 */
    position: fixed;
    left: 20px;
    bottom: 20px;
    
    /* 他の要素より前面に表示 */
    z-index: 9999;
    }

  img {
    max-width: 100%;         /* 親より大きくならないように */
    height: auto;
  }

/* 要素を横並びにする */
  .container {
    display: flex;       /* これだけで横並びになります */
    justify-content: center; /* 左右の中央 */
    gap: 5px;          /* 要素同士の隙間（便利！） */
  }
  .item {
      flex: 1;            /* 均等な幅にする設定 */
      /* background-color: #f0f0f0; */
      padding: 10px;
      /* border: 1px solid #ccc; */
      text-align: center;
    }

    /* 画像，表キャプション */
    .cap {
      text-align: center;
      font-weight: bold;
      margin-top: 0.75rem; 
      margin-bottom: 0.75rem; 
    }
    /* 出典 */
    .source {
      text-align: center;
      font-size: 0.75rem;
    }

/* ホーム，テーマ，索引ボタン関係 */
    .btn-outline {
    background-color: white; /* 背景を透明に */
    color: #007bff;                /* 文字色を青に */
    border: 2px solid #007bff;    /* 枠線を青に */
    }

    .btn-outline:hover {
    background-color: #007bff;    /* ホバーで塗りつぶす */
    color: white;
    }

    /* YouTub埋め込みスマホ対応 */
    .video-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9のアスペクト比 */
      height: 0;
      overflow: hidden;
    }
    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

    /* 画面が広くなったら自動計算に切り替える */
    @media (min-width: 400px) {
      .grid-container {
        /* 最小幅18%にすれば、最大5列程度に収まります */
        grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
      }
    }

/* 一般装飾 */

    /* テキストセンター */
    .textcenter{
      text-align: center;      
    }

    /* 太字 */
    .bold{
      font-weight: bold;          
    }

    a {
      color: #007bff; /* 青色 */
    }    
    a:visited {
      color: #007bff; /* 訪問後も青色のままにする */
    }

    /* 注意書き，強調で行を囲む枠 */
    .box {
      border: 1px solid #333; /* 線の太さ・種類・色 */
      padding: 20px;          /* 枠の内側の余白（重要！） */
      margin: 10px 0;         /* 枠の外側の余白 */
      border-radius: 5px;     /* 角を少し丸くすると柔らかい印象に */
      background-color: #f9f9f9; /* 背景色を薄く付けると見やすい */
  }

