/* CSSのリセット */

body {
  margin: 0;
}

/* デフォルト（スマホ）: 画面いっぱいに表示して左右に少しだけ余白をとる */
body {
  width: 100%;
  padding: 0 15px; 
  margin: 0;
}

/* 画面幅が 800px 以上になったら、MDNのような中央寄せにする */
@media (min-width: 800px) {
  body {
    width: 70%;
    margin: 0 auto;
    padding: 0; /* スマホ用の余白をリセット */
  }
}

/* box-sizing：パディングやボーダーの幅が、要素の全体の横幅（width）に含まれるように設定します。これを行うだけで、スマホ画面での「横スクロール（意図しないはみ出し）」の発生を劇的に減らせます。 */ 

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: rgba(5, 247, 126, 0.589);
}

h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

p,
li {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Yu Mincho", cursive;
  color: #2a2a2a;
}

p,
li {
  font-family: "Yu Gothic Medium", sans-serif;
  color: #2a2a2a;
}

.past{
    color: #ff02028f;
}

.plan{
    color: #0905f7;
}

hr {
  border: none;          /* ブラウザの初期線を消す */
  height: 1px;           /* 線の太さ */
  background-color: #02020231; /* 線の色 */
  margin: 15px 0;        /* 上下の余白 */
}

